<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections />
  <connectionStrings />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<!-- This IntegrationId/Key works against csigns test environment. Should be replaced with your integrationid/key-->
    <add key="CSign_IntegrationId" value="57" />
    <add key="CSign_IntegrationKey" value="46435b6a-652d-41ee-8731-9e0342a4c329" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
                <!-- Increased timeout to 10 minutes for debugging purposes. Default is 1 minute. -->
                <binding name="BasicHttpBinding_IIntegrationService" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
	 <!-- Test environment. Use free of charge but works only with Test certificates. -->
      <endpoint address="http://integration.testcertificates.csign.se/CSign.Services.Integration/CSign.Services.Integration.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationService"
        contract="Client.IIntegrationService" name="BasicHttpBinding_IIntegrationService" />
      <!-- Test environment for customers. Uses production certificates and requires an integration key. -->
      <!--<endpoint address="http://integration.test.csign.se/CSign.Services.Integration/CSign.Services.Integration.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationService"
        contract="Client.IIntegrationService" name="BasicHttpBinding_IIntegrationService" />-->
      <!-- Production url. In order to use this you will need to sign up with us and then you will receive a pair of integration Id/Keys 
      <endpoint address="https://integration.csign.se/CSign.Services.Integration/CSign.Services.Integration.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationService"
        contract="Client.IIntegrationService" name="BasicHttpBinding_IIntegrationService" />-->
    </client>
  </system.serviceModel>
</configuration>