<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.serviceModel>	
		<client>
			<endpoint xdt:Transform="SetAttributes" xdt:Locator="Match(name)" 
					address="http://integration.trunk.test.csign.se/CSign.Services.Integration/CSign.Services.Integration.svc"
					binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegrationService"
					contract="Client.IIntegrationService" name="BasicHttpBinding_IIntegrationService" />
		</client>
	</system.serviceModel>
</configuration>
