@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Sveavägen 49<br />
    113 59 Stockholm<br />
    <abbr title="Phone">P:</abbr>
    08-19 11 19
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@csign.se">support@csign.se</a><br />
    <strong>Sales:</strong> <a href="mailto:peter.kallstrom@devcode.se">peter.kallstrom@devcode.se</a>
</address>