@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo project</h1>
    <p class="lead">This is a demo project based on a default Visual Studio MVC-project. The project has been stripped down in order to only highlight the steps necessary to successfully use the API provided under
        <a target="_blank" href="https://integration.csign.se/CSign.Services.Integration/CSign.Services.Integration.svc">integration.csign.se</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get test certificates</h2>
        <p>
            In order to use this demo environment you will need test certificates.
        </p>
        <p><a target="_blank" class="btn btn-default" href="https://www.bankid.com/bankid-i-dina-tjanster/rp-info">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CSign</h2>
        <p>
            Strong authentication and legally binding signatures. Create a competitive advantage with digitalization. Safe, easy and secure!
        </p>
        <p><a target="_blank" class="btn btn-default" href="http://csign.se">Learn more &raquo;</a></p>
    </div>
</div>